body {
  background-image: url(https://images.pexels.com/photos/1033729/pexels-photo-1033729.jpeg);
  object-fit: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}

/* ! NAVBAR START */
.nav {
  background-color: rgba(240, 240, 240, 0.622);
  width: 100% !important;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.title__nav {
  font-size: 20px;
  font-weight: 700;
  color: white;
}

/* ! NAVBAR END */

/*! style of inputs start */

/*! style of inputs focus start */

.block-1 {
  position: relative;
  margin: 20px;
}
.input-addcontacts {
  text-align: center;
  color: white;
  padding: 6px 12px;
  border: 2px solid #fff;
  outline: 0;
  width: 287px;
  height: 34px;
  background: transparent;
  position: relative;
  z-index: 9;
}
.block-1 label {
  position: absolute;
  color: #fff;
  top: 50%;
  left: -11px;
  transform: translate(50%, -50%);
  transition: 0.5s;
}
.my-border::before,
.my-border::after {
  position: absolute;
  content: "";
  background-color: transparent;
  border-style: solid;
  border-width: 0px;
  border-color: #000;
  height: 0%;
  width: 0%;
  z-index: 9;
  transition: 0.5s;
}

.my-border::before {
  right: 0;
  bottom: 0;
}
.my-border::after {
  left: 0;
  top: 0;
}
.input-addcontacts:focus ~ .my-border::before {
  border-right-width: 2px;
  border-bottom-width: 2px;
  width: 99%;
  height: 94%;
  transition: 0.5s;
}
.input-addcontacts:focus ~ .my-border::after {
  border-left-width: 2px;
  border-top-width: 2px;
  width: 99%;
  height: 94%;
  transition: 0.5s;
}
.input-addcontacts:focus ~ label {
  top: -20%;
  left: -19px;
  transition: 0.5s;
}

/*! style of inputs focus end */

/* !style of inputs start  */

.add-contact {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.btnAdd {
  width: 100px;
  height: 40px;
  background: transparent;
  border: 2px solid white;
  color: white;
}
.btnAdd {
  width: 100px;
  height: 40px;
  background: transparent;
  border: 2px solid white;
  color: white;
}
/* !style of inputs end */
